* {
  margin: 0%;
  padding: 0%;
}
/*******************
  COMMON
  *******************/
.background-image img {
  width: 100%;
  margin-top: 6%;
}
li {
  list-style-type: none;
}
button.btn1 {
  background-color: #f06363;
  width: 8vw;
  height: 3vw;
  float: right;
  margin-top: -5%;
  border: none;
  border-radius: 7px;
  margin-right: 20%;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-size: 23px;
  font-weight: bolder;
  word-spacing: 8px;
}

h1 {
  position: absolute;
  top: 14%;
  color: #a6474d;
  font-size: 14vh;
  font-family: signpainter;
  left: 5%;
}
@media screen and (max-width: 450px) {
  .background-image img {
    width: 100%;
    margin-top: 6%;
    height: 45vh;
  }
  button.btn1 {
    background-color: #f06363;
    width: 21vw;
    height: 8vw;
    float: right;
    margin-top: -13%;
    border: none;
    border-radius: 4px;
    margin-right: 7%;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: large;
    font-weight: bolder;
    word-spacing: 8px;
    font-family: roboto, "Helvetica Neue";
  }
  h1 {
    position: absolute;
    top: 12%;
    color: #a6474d;
    font-size: 5vh;
    font-family: signpainter;
    left: 4%;
  }
}
/********************************
  FLOWER 1
  *********************************/
.subimages .flowerimages .flower1 .imgflower1 {
  width: 20%;
  margin-top: 4%;
}
.flower1 h2.text1 {
  margin-top: 5%;
  font-family: roboto, "Helvetica Neue";
  font-size: 58px;
  float: right;
  margin-right: 55%;
  font-weight: bold;
  color: #4a4a4a;
}
h3.cost1 {
  font-family: roboto, "Helvetica Neue";
  margin-right: 73%;
  font-size: 4vh;
  float: right;
  margin-top: -5%;
  font-weight: 400;
  color: #4a4a4a;
}
@media screen and (max-width: 450px) {
  .subimages .flowerimages .flower1 .imgflower1 {
    width: 36%;
    margin-top: 4%;
  }
  .flower1 h2.text1 {
    margin-top: 5%;
    font-family: roboto, "Helvetica Neue";
    font-size: 24px;
    float: right;
    margin-right: 22%;
    font-weight: bold;
    color: #4a4a4a;
  }
  h3.cost1 {
    font-family: roboto, "Helvetica Neue";
    margin-right: 50%;
    font-size: 3vh;
    float: right;
    margin-top: -5%;
    font-weight: 400;
    color: #4a4a4a;
    margin-top: -12%;
  }
}
/********************************
  FLOWER 2
  *********************************/

.subimages .flowerimages .flower2 img.imgflower2 {
  width: 20%;
  margin-top: 4%;
}
h3.cost2 {
  font-family: roboto, "Helvetica Neue";
  margin-right: 73%;
  font-size: 4vh;
  float: right;
  margin-top: -5%;
  font-weight: 400;
  color: #4a4a4a;
}
.flower2 h2.text2 {
  margin-top: 5%;
  font-family: roboto, "Helvetica Neue";
  font-size: 58px;
  float: right;
  margin-right: 55%;
  font-weight: bold;
  color: #4a4a4a;
}
@media screen and (max-width: 450px) {
  .subimages .flowerimages .flower2 img.imgflower2 {
    width: 36%;
    margin-top: 4%;
  }
  h3.cost2 {
    font-family: roboto, "Helvetica Neue";
    margin-right: 50%;
    font-size: 3vh;
    float: right;
    margin-top: -5%;
    font-weight: 300;
    color: #4a4a4a;
    margin-top: -12%;
  }
  .flower2 h2.text2 {
    margin-top: 5%;
    font-family: roboto, "Helvetica Neue";
    font-size: 24px;
    float: right;
    margin-right: 22%;
    font-weight: bold;
    color: #4a4a4a;
  }
}

/********************************
  FLOWER 3
  *********************************/

.subimages .flowerimages .flower3 img.imgflower3 {
  width: 20%;
  margin-top: 4%;
}
.flower3 h3.cost3 {
  font-family: roboto, "Helvetica Neue";
  margin-right: 73%;
  font-size: 4vh;
  float: right;
  margin-top: -5%;
  font-weight: 400;
  color: #4a4a4a;
}
.flower3 h2.text3 {
  margin-top: 5%;
  font-family: roboto, "Helvetica Neue";
  font-size: 58px;
  float: right;
  margin-right: 52%;
  font-weight: bold;
  color: #4a4a4a;
}
@media screen and (max-width: 450px) {
  .subimages .flowerimages .flower3 img.imgflower3 {
    width: 36%;
    margin-top: 4%;
  }
  .flower3 h3.cost3 {
    font-family: roboto, "Helvetica Neue";
    margin-right: 50%;
    font-size: 3vh;
    float: right;
    margin-top: -5%;
    font-weight: 400;
    color: #4a4a4a;
    margin-top: -12%;
  }
  .flower3 h2.text3 {
    margin-top: 5%;
    font-family: roboto, "Helvetica Neue";
    font-size: 24px;
    float: right;
    margin-right: 18%;
    font-weight: bold;
    color: #4a4a4a;
  }
}

/********************************
  FLOWER 4
  *********************************/

.subimages .flowerimages .flower4 img.imgflower4 {
  width: 20%;
  margin-top: 4%;
}
h3.cost4 {
  font-family: roboto, "Helvetica Neue";
  margin-right: 73%;
  font-size: 4vh;
  float: right;
  margin-top: -8%;
  font-weight: 400;
  color: #4a4a4a;
}
.flower4 h2.text4 {
  margin-top: 5%;
  font-family: roboto, "Helvetica Neue";
  font-size: 58px;
  float: right;
  margin-right: 54%;
  font-weight: bold;
  color: #4a4a4a;
}
button.btn2 {
  background-color: #f06363;
  width: 8vw;
  height: 3vw;
  float: right;
  margin-top: -8%;
  border: none;
  border-radius: 7px;
  margin-right: 20%;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-size: 23px;
  font-weight: bolder;
}
@media screen and (max-width: 450px) {
  .subimages .flowerimages .flower4 img.imgflower4 {
    width: 36%;
    margin-top: 4%;
  }
  h3.cost4 {
    font-family: roboto, "Helvetica Neue";
    margin-right: 50%;
    font-size: 3vh;
    float: right;
    margin-top: -5%;
    font-weight: 400;
    color: #4a4a4a;
    margin-top: -20%;
  }
  .flower4 h2.text4 {
    margin-top: 5%;
    font-family: roboto, "Helvetica Neue";
    font-size: 24px;
    float: right;
    margin-right: 22%;
    font-weight: bold;
    color: #4a4a4a;
  }
  button.btn2 {
    background-color: #f06363;
    width: 21vw;
    height: 8vw;
    float: right;
    margin-top: -20%;
    border: none;
    border-radius: 4px;
    margin-right: 7%;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: large;
    font-weight: bolder;
  }
}
.navbar .header-navbar {
  background-color: blue;
}
.navbar .cartpic img.cartt {
  width: 3%;
  position: absolute;
  top: 3%;
  left: 86%;
}
.Cyber p {
  left: 5%;
  font-family: system-ui;
  position: absolute;
  font-size: 3vw;
  top: 1%;
  color: #f06363;
  font-family: signpainter;
}

.sign p.sig a {
  color: #e4e4e4;
  position: absolute;
  left: 80%;
  top: 4%;
  font-size: 3vh;
  font-family: system-ui;
  color: #f06363;
  text-decoration: none;
}
.navbar .nav-footer {
  position: absolute;
  bottom: 100%;
  background-color: #bcc0c7;
  width: 60%;
  padding: 0px 20%;
  display: flex;
}
.nav-footer .foot {
  position: absolute;
  background-color: white;
  width: 100%;
}
.footer {
  width: 100%;
  border-top: black;
  position: fixed;
  top: 90vh;
  height: 10%;
  background-color: white;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
}
.navbar .header {
  position: absolute;
  background-color: white;
  width: 100%;
  display: flex;
  top: 0%;
  height: 9%;
}
.footer .total h1 {
  color: black;
  font-family: system-ui;
  font-size: 4vh;
  position: absolute;
  left: 44%;
  top: 26%;
  font-weight: 600;
}
.footer .total a .checkcart {
  background-color: #f06363;
  color: white;
  height: 8vh;
  font-size: 3vh;
  width: 17vw;
  position: absolute;
  right: 19%;
  top: 1vh;
  border-radius: 3px;
  border: none;
}
@media screen and (max-width: 450px) {
  .navbar .header-navbar {
    background-color: blue;
  }
  .navbar .cartpic img.cartt {
    width: 8%;
    position: absolute;
    top: 2%;
    left: 84%;
  }
  .Cyber p {
    left: 5%;
    font-family: system-ui;
    position: absolute;
    font-size: 7vw;
    top: 0%;
    color: #f06363;
    font-family: signpainter;
  }

  .sign p.sig a {
    position: absolute;
    left: 66%;
    top: 3%;
    font-size: 3vh;
    font-family: system-ui;
    color: #f06363;
    text-decoration: none;
  }
  .navbar .nav-footer {
    position: absolute;
    bottom: 100%;
    background-color: #bcc0c7;
    width: 60%;
    padding: 0px 20%;
    display: flex;
  }
  .nav-footer .foot {
    position: absolute;
    background-color: white;
    width: 100%;
  }
  .footer {
    width: 100%;
    border-top: black;
    position: fixed;
    top: 93vh;
    height: 12%;
    background-color: white;
    box-shadow: 2px rgb(0 0 0 / 80%);
  }
  .navbar .header {
    position: absolute;
    background-color: white;
    width: 100%;
    display: flex;
    top: 0%;
    height: 9%;
  }
  .footer .total h1 {
    color: black;
    font-family: system-ui;
    font-size: 3vh;
    position: absolute;
    left: 10%;
    top: 20%;
    font-weight: 600;
  }
  .footer .total a .checkcart {
    background-color: #f06363;
    color: white;
    height: 8vh;
    font-size: 5vw;
    width: 41vw;
    position: absolute;
    right: 6%;
    top: 1 vh;
    border-radius: 3px;
    border: none;
  }
}
/********************************
SIGNUP BOX
********************************/
.signup-box {
  width: 360px;
  margin: auto;
  background-color: white;
  border-radius: 3px;
  position: fixed;
  left: 37%;
  top: 24%;
}

.login-box {
  width: 26%;
  height: 50%;
  margin: auto;
  border-radius: 3px;
  background-color: white;
  position: fixed;
  top: 20%;
  left: 40%;
  background-color: #495050;
}

.signup-box h4.signnn {
  text-align: center;
  padding-top: 15px;
  color: #4a4a4a;
  padding-top: 23%;
  font-family: roboto, "Helvetica Neue";
  font-weight: 500;
  font-size: 3vw;
}

h4 {
  text-align: center;
}

form {
  width: 300px;
  margin-left: 20px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

form input {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 2px;
  outline: none;
  margin-top: 17px;
  text-align: start;
  font-size: 20px;
  border: solid gray 1px;
  color: #bfbfbf;
}
input[type="button"] {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #f06363;
  color: white;
  font-size: 18px;
  border-radius: 2px;
  text-align: center;
}
p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
  color: #272727;
  word-spacing: 1px;
  font-family: roboto, "Helvetica Neue";
}
.para-2 {
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: -10px;
}
.para-2 a {
  color: #49c1a2;
}
.signup-box input.placeholder {
  text-align: center;
}
a {
  color: black;
}
p.cybe {
  top: 4%;
  font-size: 3vw;
  position: absolute;
  left: 25%;
  font-family: system-ui;
  color: #f06363;
  font-family: signpainter;
}
p.shopp {
  position: absolute;
  top: 8%;
  left: 46%;
  font-size: 2vw;
  margin-top: 0px;
  font-family: system-ui;
}
h2.cancelbtn a {
  color: #575757;
  position: absolute;
  left: 90%;
  top: 3%;
  font-family: roboto, "Helvetica Neue";
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  .signup-box {
    width: 82%;
    margin: auto;
    background-color: white;
    border-radius: 3px;
    position: fixed;
    left: 10%;
    top: 24%;
  }

  .login-box {
    width: 26%;
    height: 50%;
    margin: auto;
    border-radius: 3px;
    background-color: white;
    position: fixed;
    top: 20%;
    left: 40%;
    background-color: #495050;
  }

  .signup-box h4.signnn {
    text-align: center;
    padding-top: 15px;
    padding-top: 23%;
    font-family: roboto, "Helvetica Neue";
    font-weight: bold;
    font-size: 6vw;
  }

  h4 {
    text-align: center;
  }

  form {
    width: 50%;
    margin-left: 55px;
  }

  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }

  form input {
    width: 100%;
    padding: 7px;
    border: 1 px solid rgb(156, 155, 155);
    border-radius: 2px;
    margin-top: 17px;
    font-size: 18px;
  }
  input[type="button"] {
    width: 110%;
    height: 35px;
    margin-top: 12px;
    border: none;
    background-color: #f06363;
    color: white;
    font-size: 18px;
    border-radius: 2px;
  }
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 21px;
    color: black;
    word-spacing: 1px;
    font-family: roboto, "Helvetica Neue";
  }
  .para-2 {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
  }
  .para-2 a {
    color: #49c1a2;
  }
  .signup-box input.placeholder {
    text-align: center;
  }
  a {
    color: black;
  }
  p.cybe {
    top: 2%;
    font-size: 8vw;
    position: absolute;
    left: 25%;
    font-family: signpainter;
    color: #f06363;
  }

  h2.cancelbtn a {
    color: #575757;
    position: absolute;
    left: 90%;
    top: 3%;
    font-family: roboto, "Helvetica Neue";
    text-decoration: none;
  }
}
.transparent {
  background-color: white;
  opacity: 0.3;
}
